*{
    box-sizing: border-box;
}

.wrapper{
    width: 1100px;
    margin: 30px auto;
}

header{
    background-color: #f7aa04;
}

.container{
    display: flex;
}

main{
    width: 660px;
    padding: 20px;
}


.right{
    width: 500px;
    margin-left: 10px;
    padding: 20px;
}

footer{
    padding: 30px 0;
    text-align: center;
    background-color: #f7aa04;
    color: white;
}

.block{
    margin: 20px 0 50px 220px;
    display:inline;
    padding: 50px;
}

.sitename{
    margin-bottom: 10px;
    font: 20px Arial;
}

nav{
    display: flex;
    width: 600px;
}

nav a{
    padding: 10px;
    color: white;
    text-decoration: none;
    font: 15px Arial;
}

nav a:hover, nav a.active{
    color: white;
    text-decoration: underline;
}

main h1{
    font: 20px "Times New Roman";
    font-weight: bold;
}


main h2{
    font: 18px "Times New Roman";
    font-weight: bold;
}
.right h2{
    font: 18px "Times New Roman";
    font-weight: bold;
}

main p{
    margin: 10px 0;
    text-align: justify;
    font: 15px Arial;
}

table {      
    border-collapse: collapse;
    width: 600px;
}

td{
    color: rgb(109, 109, 109);
}

td, th{
    border: 3px solid black;
    text-align: center;
}
th{
    background-color: rgb(230, 230, 230);
    font-weight: bold;
    color: black;
}